h1{
  text-align: center;
  background-color: blue;
  color: yellow;
}

h2{
  text-align: center ;
  background-color: purple;
  color: brown;
}

ul{
  font-family: 'Courier New', Courier, monospace;
line-height: 50px;
font-weight: 40px;
}
body{
  background-color: blue;
  color: blanchedalmond;
}